.htmlLocales, .bodyLocales{
    margin:0%;
    padding:0%;
    height:100%;
    width:100%;
    background:url(../img/thumb-1920-55193.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.htmlFans, .bodyFans{
    margin:0%;
    padding:0%;
    height:100%;
    width:100%;
    background:url(../img/clubberconfession-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.htmlMusico, .bodyMusico{
    margin:0%;
    padding:0%;
    height:100%;
    width:100%;
    background:url(../img/guitar_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.PrincipalHeader{
    height:100%;
    width:100%;
    margin:auto;
    display:table;
    top:0;
    background-repeat: no-repeat;
    background-size:cover;
}
.PrincipalHeader .IntroPagina{
    display:table-cell;
    vertical-align: middle;
    width:100%;
    max-width: none;
    text-align: center;
}
.ContenidoHeader{
    max-width: 50%;
    margin: 0% auto;
    text-align:center;
}
.ContenidoHeader h1{
    font-family:'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 30px #000;
    font-size:500%;
}
.Boton{
    border-radius:3px;
    font-family: 'Oswald', sans-serif;
    color: #333333;
    font-size: 135%;
    padding: 10px 20px;
    border:solid #333333 2px;
    background-color: #F9F3F4;
    text-transform: uppercase;
    text-decoration: #006666;
    animation: animBotonHead 3s linear infinite;
}
.Boton:hover{
    color:#fff;
    border: solid #fff 3px;
    background-color: #999999;
}

.Body2{
    display: inline-block;
    position: relative;
    background: url(../img/Black-And-White-Wallpapers-Tumblr-9.jpg);
    background-size: cover;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    position: relative;
}
/*--------------ESTILOS IZQUIERDA----------------------*/
.ContenidoIzquierda{
    display: inline-block;
    float: left;
    vertical-align: top;
    position: relative;
    margin: 0%;
    height: 100%;
    width: 35%;
}
#Perfil{
    width: 100%;
    height: 90%;
    color: #000;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-top: 5%;
    text-align: center;
    border-radius: 3%;

}
.Avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 5%;
}
label, #Perfil>h1{
    font-size: 150%;
    font-family: sans-serif;
    color: antiquewhite;
}
/*-------------------------------------------------------*/
.ContenidoDerecha{
    display: inline-block;
    vertical-align: top;
    float: right;
    position: relative;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 65%;
}
ul{
    font-family: monospace;
    margin:0px;
    padding:0px;
    list-style: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
}
ul > li{
    font-family: monospace;
    float: left;
    width: 33.3%;
    height: 40px;
    background-color: #000;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 120%;
}
ul>li>ul>li{
    display: none;
    width: 100%;
    font-size: 80%;
}
ul li:hover ul li{
    display: block;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    color:#fff;
    display: block;
    z-index:20000;
}
ul li a:hover{
    background-color: #ff3333;
    cursor: pointer;
}
#Modificar{
    font-family: monospace;
    float: left;
    width: 20%;
    height: 40px;
    background-color: #000;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 120%;
}
#BotListConc{
    font-family: monospace;
    float: left;
    width: 25%;
    height: 40px;
    background-color: #000;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 120%;
}
#BotCrearConcierto{
    font-family: monospace;
    float: left;
    width: 25%;
    height: 40px;
    background-color: #000;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 120%;
}
#ConciertosAsignados{
    font-family: monospace;
    float: left;
    width: 25%;
    height: 40px;
    background-color: #000;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 120%;
}


/*---------------FORMULARIOS-------------------------*/
.DivForm{
    display: inline-block;
    width: 100%;
    height: 94%;
    text-align: center;
    vertical-align: middle;
}
.ModUsu{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModUsu > h1{
    color: white;
    font-family: monospace;
}
.ModComponentes{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModComponentes > h1{
    color: white;
    font-family: monospace;
}
.ModWeb{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModWeb > h1{
    color: white;
    font-family: monospace;
}
.ModNom{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModNom > h1{
    color: white;
    font-family: monospace;
}
.ModApellido{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModApellido > h1{
    color: white;
    font-family: monospace;
}

.ModUbi{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModUbi > h1{
    color: white;
    font-family: monospace;
}

.ModGen{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModGen > h1{
    color: white;
    font-family: monospace;
}

.ModCiu{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModCiu > h1{
    color: white;
    font-family: monospace;
}
.ModContact{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModContact > h1{
    color: white;
    font-family: monospace;
}
.ModTelf{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModTelf > h1{
    color: white;
    font-family: monospace;
}
.ModPerfil{
    display: none;
    width: 40%;
    height: 86%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 5%;
    z-index: 2000;

}
.DivForm >.ModPerfil > h1{
    color: white;
    font-family: monospace;
}
.ModPass{
    display: none;
    width: 40%;
    height: 45%;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 15%;
}
.DivForm >.ModPass > h1{
    color: white;
    font-family: monospace;
}
.CrearConierto{
    display: none;
    width: 40%;
    height: 80%;
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #ff3333;
    vertical-align: middle;
    margin-top: 5%;

}

.ConciertosAsignados{
    display: none;
    width: 40%;
    height: 80%;
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;

    vertical-align: middle;
    margin-top: 5%;


}

.CrearConierto>table>th{
    font-size: 2%;
}


.DivForm >.CrearConierto > h1{
    color: white;
    font-family: monospace;
}

input{
    margin: 0 0 .4em 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.01);
    border: 0;
    border-bottom: 5px solid rgba(0,0,0,.12);
    line-height: 40px;
}


select{
    margin: 0 0 .4em 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.01);
    border: 0;
    border-bottom: 5px solid rgba(0,0,0,.12);
    line-height: 40px;
}
.ListaConciertos{

    width: 91%;
    height: 81%;
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;

    vertical-align: middle;
    margin-top: 5%;
    overflow: auto;
    z-index: -2000;

}
#respuesta {
    display:none;
    width: 100%;
    height: 15%;
    background-color: white;
}

#respuesta2 {
    display:none;
    width: 100%;
    height: 15%;
    background-color: white;
}

#respuesta3{
    display:none;
    width:100%;
    height: 15%;
    background-color: white;
}

#respuesta4 {
    display:none;
    width: 100%;
    height: 15%;
    background-color: white;
}
#respuesta5 {
    display:none;
    width: 100%;
    height: 15%;
    background-color: white;
}
#respuesta6 {
    display:none;
    width: 100%;
    height: 15%;
    background-color: white;
}
#respuesta7 {
    display:none;
    width: 100%;
    height: 7%;
    background-color: white;
}
#respuesta8 {
    display:none;
    width: 100%;
    height: 7%;
    background-color: white;
}
#respuesta9 {
    display:none;
    width: 100%;
    height: 15%;
    background-color: white;
}
#respuesta10 {
    display:none;
    width: 100%;
    height: 15%;
    background-color: white;
}
#respuesta15 {

    width: 100%;
    border-radius: 10px 10px 10px 10px;

    background-color:#ff3333;
    width:50%;
    left:25%;
    position: relative;
    font-size: larger;
    z-index: 1;
    padding:3%;

}
[type='text'] {
    padding-left: 1em;
}

[type='submit'] {
    color: white;
    background-color: #2980b9;
    font-weight: 600;
}


[type='text']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}

[type='password'] {
    padding-left: 1em;
}

[type='password']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
[type='tel'] {
    padding-left: 1em;
}

[type='tel']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
[type='email'] {
    padding-left: 1em;
}

[type='email']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
[type='date'] {
    padding-left: 1em;
}

[type='date']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
[type='number'] {
    padding-left: 1em;
}

[type='number']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
.DespGenero, .EstadoConcierto{
    padding-left: 1em;

}

.DespGenero:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
.EstadoConcierto:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
/*----------------------------------------------------*/
#Boton1:hover{
    border-radius:3px;
    color:#fff;
    border: solid #fff 3px;
    background-color: #999999;
}


#Boton4{
    display: inline-block;
    position: relative;
    vertical-align: central;
    margin-top: 0.3%;
    border-radius:3px;
    font-family: 'Oswald', sans-serif;
    color: #333333;
    font-size: 100%;
    padding: 10px 20px;
    border:solid #333333 2px;
    background-color: #F9F3F4;
    text-transform: uppercase;
    text-decoration: #006666;
    animation: animBotonHead 3s linear infinite;
}

#Boton4:hover{
    border-radius:3px;
    color:#fff;
    border: solid #fff ;
    background-color: #999999;
}
#Barra{
    width: 100%;
    height: 18.6%;
    position: relative;
    display: table;
    background-color: #000000;
    padding: auto;
    text-align: center;
    z-index: -200;
}
#Logo{
    display: inline-block;
    float: end;
    width: 12%;
    border-radius: 50%;
    z-index: 10000;

}
p{
    color: white;
    float: left;
    text-align: left;
    margin-top: 1.9%;
    margin-bottom: 0%;
    padding: 0%;
    margin-right: -16%;
    margin-left: 1%;
    font-family: monospace;
}
p>a{
    text-decoration: #ff3333;
    color: #ff3333;
    font-size: 120%;
}
#Social{
    width: 30%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: right;
    margin-left: -25%;
    vertical-align: middle;
    text-decoration: none;
}
#Social>a{
    text-decoration: none;
}
#Facebook{
    width: 15%;
    display: inline-block;
    margin-top: 9%;
    text-decoration: none;
}
#Instagram{
    width: 15%;
    display: inline-block;
    text-decoration: none;
}
#Youtube{
    width: 15%;
    display: inline-block;
    text-decoration: none;
}
#Facebook:hover, #Instagram:hover, #Youtube:hover{
    cursor: pointer;
}


#ConciertosXAsignar{
    display:none;
    position: fixed; 
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px #333333;
    border-radius: 10px; 
    left: 40%;
    top:15%;
    height: 70%;
    width: 30%;
    background-color: #ff3333;
    background-size: cover;
}

#ConciertosXAsignar>.closelistado>img{
    position:relative;
    left:92%;
    width:5%;
    top:2%;
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .ContenidoHeader h1{
        font-size: 250%;
    }

    .Boton{
        font-size: 110%;
        padding: 7px 15px;
    }
    #Boton1, #Boton2, #Boton3, #Boton4{
        font-size: 70%;
        padding: 7px 10px;
    }
    .Menu{
        height: 5.7%;
    }
    .Avatar{
        width: 100px;
        height: 100px;
    }
    label{
        font-size: 80%;
    }
    #Perfil{
        width: 100%;
        height: 60%;
    }
}

th{
    background-color: black;
    color:gold;
    border:1px solid black;
}
table{
    display: INLINE-TABLE;
    text-align: center;
    border:0px;
}

td{
    background-color:darkred;
    color:white;
    border:1px solid black;
    text-align: center;
    padding: 2px;
    letter-spacing: 1px;

}
tbody td {
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover {
    color: green;
}
/*a:link {
    background-color: yellow;
}*/
[type='button'] {
    color: white;
    background-color: #2980b9;
    font-weight: 600;
}
