html.galeria{
    background:url(../login_pics/pexels4.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
    zoom: 130%;
}
/*.zoom {
  zoom: 130%;
}*/


#bio{
    display: inline-block;
    position: absolute;
    left: 2%;
    top: 5%;
    color: #cccccc;
    font-size: medium;
    animation:ease-in;
}




#imagenAboutus{
    left: 25px;
}


div{
    position: relative;
}
#tituloH1{

    font-family: fantasy;

    font-weight: 300; 
    font-style: initial;
    line-height: 30px; 
    margin: 0 0 0px;
    text-align: center; 
    vertical-align: top; 
    padding-top: 1%;
    color: #d7ceb2;
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    font: 40px 'BazarMedium';
    letter-spacing: 10px;

}

.seccionContenido{

    width: 40%;
    height: 50%;
    left: 31%;
    border-radius: 10px 10px 10px 10px;
    background:url(../img/pics_galeria/background_wall_2.jpg);

}
.divImagenGaleria{
    display: inline-block; 
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
    padding-top: 2%;
}
.divImagenGaleria img{
    height: 60px;
    border: 3px solid #CDCDCD;
}
.divImagenGaleria img:hover{
    border: 3px solid #999999;




}
.divImagenGaleria img:active{
    border: 3px solid #f2f2f2;
}
.divMuestraImagen{

    margin: auto auto;
    overflow: hidden;
    padding: 1%;
    text-align: center;
    size: auto;


}
.divMuestraImagen img{
    margin: auto auto;
    width: 100%;

    border-radius: 10px 10px 10px 10px;

}
#myBtn {

    position: fixed; 
    bottom: 1%; 
    right: 1%; 
    border-color: #999999; 
    background-color: #ff6666; 
    color: #330033; 
    cursor: pointer; 
    padding: 0.5%; 
    border-radius: 35px; 
    font-size: 18px; 


}
#myBtn:hover {
    background-color: #330033; 
    transition: all 400ms ease; 
    color: #f2f2f2;
}
#textoAboutUs{
    width: 50%;
    display: block;
    color: #f2f2f2;
    
}

.butons {

    background: transparent; 
    color: #0099CC; 
    border: 2px solid #0099CC;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.butons:hover {
    background-color: #008CBA;
    color: white;
}