html,body{
    background:url(../img/locales.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    z-index: -2000;

}
#boton_siguente{
    color: white;
}
#boton_atras{
    color: white;
}
#botonchat{
    color: white;
    background-color: #006666;
    padding:2%;
    margin:1%;
    top:-30%;
    position: relative;
}



div, nav, aside, img,a{
    display:inline-block;
    position: relative;
    left: 0px;
    width: 100%;
    vertical-align: top;
    text-align: center;

}
#main {
    background-image:url(../img/musico.jpg);
    background-size:AUTO;
    background-repeat: repeat;
    width: 70%;
    left:15%;
    height: 400%;
    border-radius: 10px 10px 10px 10px;
    z-index:1000;
}

#divlogo {
    position:absolute;
    top:0.1%;
    left:-2%;
    width: 27%;
}
#logopng{
    border-radius: 92px ;
    width: 80%;
}

table.sample{
    font:normal 90%/150% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    border-collapse:separate;
    border-spacing:0;
    color:chartreuse;
}

#buscar{
    position:absolute;
    width: 9%;

    left:24%;
}
#buscar>p{
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    position:relative;
    width: 98%;
    background-color: darkslategrey;
    margin: 0%;

}



#buscar>input{
    text-align: center;
    margin: 0%;
    position:relative;
    width: 100%;


}
#proximoconcierto{
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    background-color: #b67308;
    position:absolute;
    width: 79.2%;
    height: 1%;
    top:7.7%;
    left:20%;
    overflow: hidden;
}
#proximoconciertospan{
    border-radius: 5px 0px 0px 5px;
    width: auto;
    height: 1.1%;
    top:7.7%;
    position: absolute;
    background-color: black;
    color:darkgoldenrod;
    font-size:22px;
    left:2%
}
#proximoconcierto>p{

    margin:0%;
    top: 25%;
    height:62%;
    position: relative;
    color:black;
    font-weight: bold;
    font-size:75%;
    left: 200%;
    width: 200%;
}

#login{

    border: 1px solid black;
    border-radius: 10px;
    background-image: url(../img/musico.jpg);
    position:absolute;
    width: 26%;
    height: 4.2%;
    top:2%;
    left:72%;
}

#login>button,#login>a>button{
    background-color:firebrick;
    border-radius:3px;
    font-weight: bold;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:gold;
    font-family:Arial;
    font-size:13px;
    padding:9px 24px;
    text-decoration:none;
    box-shadow: 0px 1px 1px 3px #7a3d3d;
    margin: 1%;
}
#login button:hover,a:focus  {
    cursor: pointer;
    background:black;
    color:white;
    transition: all 400ms ease; 
    position: relative;
}
#myBtn {

    display: none;

    position: fixed; 
    bottom: 20px; 
    left: 90%; 
    z-index: 99; 
    border: none; 
    background-color: transparent; 
    color: #330033; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 


}
#myBtn:hover {
    background-color: #cc9900; 
    transition: all 400ms ease; 
    color: #f2f2f2;

}



#login>button:active {
    position:relative;
    top:1px;
}

#login3{
    display:none;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #006666;
    background-image: url(../img/fondopequeño1.png);
    background-size: 100%;
    position:absolute;
    width: 19%;
    height: 4.3%;
    top:1%;
    left:76%;

}
#login>span{
    color:black;
    text-shadow: 2px 2px 2px white;
    font-weight: bold;

}
#login3>a{
    border-radius: 5px 5px 5px 5px;
    padding:1%;
    color:darkorange;
    text-decoration: none;
    width: auto;
    margin: 4%; 
    background-color: black;
}

#musicos{
    width: 200%;

}
#divmusicos{
    display: block;
    border-radius: 10px;
    position:absolute;
    width:57.4%;
    top:8.8%;
    left:42.5%;
    overflow: hidden;

}
#proximosConciertosDiv1{
    top:65%;
    left: 5%;
    width:90%;
    height: 9.8%;
    position:absolute;
    text-align: center;

}


#titulo {
    font-family:inherit;
    border: 1px solid gold;
    border-radius: 10px ;
    left:31%;
    width: 40%;
    height:7.6%;
    color:white;
    position:absolute;
    text-shadow: 2px 2px 2px #006666;
    background-image: url(../img/imgconcierto2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

#video{
    font-family:inherit;
    border: 1px solid white;
    border-radius: 10px ;
    left:2%;
    width: 40%;
    height:8%;
    color:white;
    top:8.8%;
    position:absolute;
    text-shadow: 2px 2px 2px #006666;
    background-image: url(../img/fondopequeño.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    overflow: hidden;
}
#video2{
    font-family:inherit;
    border: 1px solid white;
    border-radius: 10px ;
    left:7%;
    width: 38%;
    height:8%;
    color:white;
    top:37%;
    position:absolute;
    text-shadow: 2px 2px 2px #006666;
    background-image: url(../img/fondopequeño.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
#titulo>h3 {
    margin:5%;
}
.article  {
    background-image: url(../img/222.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 90%;
    margin: 5%;
    border-radius: 10px ;
    width: 45%;
    left: -2%;
    top:18%;
    position:absolute;

}
#coment{ 
    font-size: 100%;
    background-color: black;
    top: 20%;
    left: 47%;
    width: 10%;
    border-radius: 5px 5px 5px 5px;
    color:gold;

}
#coment>p{
    margin:0%;
    padding: 2%;
}
#chat {
    width: 47%;
    left: 19%;
    height: 15%;
    top:21%;
    position:relative;
    background-image: url(../img/222.);
    text-align: center;
    overflow: scroll;
}

#chat1{
    position: absolute;
    left: 51%;
    top:36.3%;
    background-image: url(../img/fondopequeño3.png);
    background-attachment: fixed;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    width: 44.7%;
    height: 5%;
}
#chat2{
    top:1%;
    width: 96%;
    margin:2%;
    height: 80%;
    display:block;
    overflow: hidden;
}
#textochat{
    margin: 2%;
    text-align: center;
    width:60%;
    height: 80%;
}
#publicidad0{
    border:2px solid darkgoldenrod;
    position:absolute;
    left:15%;
    top:10%;
    width: 14%; 
    overflow: hidden;
    z-index: 20;
}
#publicidad1{
    border:2px solid darkgoldenrod;
    position:absolute;
    top:65%;
    width: 14%; 
    overflow: hidden;
    left:15%;
    z-index: 20;
}
#publicidad1_1{display:none}
#publicidad2{
    height: 20%;
    position:absolute;
    top:100%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}
#publicidad2_1{
    display:none;
}
#publicidad3 {
    position:absolute;
    top:150%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}
#publicidad4{
    position:absolute;
    top:190%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}
#publicidad5{
    position:absolute;
    top:220%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}
#publicidad6{
    position:absolute;
    top:262%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}
#publicidad7{
    position:absolute;
    top:297%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}
#publicidad8{
    position:absolute;
    top:337%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}
#publicidad9{
    position:absolute;
    top:370%;
    border:2px solid darkgoldenrod;
    left:15%;
    z-index: -20;
    width:14%;
}

#contenedor1{

    top:45.5%;
    left: 5%;
    width:90%;
    height: 16.7%;
    position:absolute;
    text-align: center;
}

#tituloentrevista1 {
    text-shadow: 2px 2px 10px #ff0000;
    background-color:black;
    color:blanchedalmond;
    font-family:'Monaco',sans-serif;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    width:45%;
    height: 3%;
    font-size:90%;

    padding-bottom: 3%;
}
#entrevista1 {

    border: 1px solid white;
    border-radius: 10px ;
    width:100%;
    height: 97%;
    background-image:url(../img/humo.jpg) ;

}
#imagenentrevista1_1{
    position: relative;
    border:5px solid white;
    border-radius: 10px ;
    width: 70%;
    left:15%;

}
#imagenentrevista1_2{


    border:5px solid white;
    border-radius: 10px ;
    width: 48%;
    left:26%;

}
#imagenentrevista1_3{

    border:5px solid white;
    border-radius: 10px ;
    width: 62%;
    left:20%;

}
#imagenentrevista1_4{

    border:5px solid white;
    border-radius: 10px ;
    width: 53%;
    left:24%;

}
#entrevista1 p{
    padding: 1%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #b67308;
    background-color: black;
    position: relative;
    top:-1%;
    left:20%;
    width: 60%;
    font-size: 74%;
    color:white;
    text-align: center;
}

#titulomasvotados {
    position:absolute;
    text-shadow: 2px 2px 10px #ff0000;
    background-color: black;
    color:blanchedalmond;
    font-family:'Verdana','Monaco',sans-serif;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    top:66%;
    left:4.5%;
    width:32%;
    height: 2%;
    font-size: 82%;
    padding-top: 1%;
    display: inline-block;
}

#tituloproxconciertos{
    position:absolute;
    text-shadow: 2px 2px 10px #ff0000;
    background-color: black;
    color:blanchedalmond;
    font-family:'Verdana','Monaco',sans-serif;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    top:66%;
    left:47%;
    width:45%;
    height: 2%;
    font-size: 82%;
    padding-top: 1%;
    display: inline-block;

}
#contenedor2{
    width:39%;
    position:absolute;
    left: 3%;
    top:68%;
    overflow: auto;
    height: 14%;
    width: 35%;
    border: 1px solid white;
    background-color: black;
}

#tablamusicosvotados{

    background-image: url(../img/gris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display:inline-table;
    width: 100%;

}
#contenedor2_1{
    left: 40.5%;
    position:absolute;
    top:68%;
    width:57%;
    background-color: black;
    height: 14%;
    border: 1px solid white;

}
#tablaproxconcierto {
    background-image: url(../img/gris.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    display:inline-table;

    width: 100%;
}

#contenedor3{
    top:83%;
    left: 5%;
    width:90%;
    height: 11%;
    position:absolute;
    text-align: center;

}
#titulotracks{
    text-shadow: 2px 2px 10px #ff0000;
    background-color: black;
    color:blanchedalmond;
    font-family:'Verdana','Monaco',sans-serif;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    width:45%;
    height: 6%;
    font-size: 100%;
    padding-bottom: 3%;

}

#tracks>div>ul>li>div>p{
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 0%;
    margin: 0%;
    background-color: black;
    width: 92.8%;
    left:3.5%;
    position: absolute;
}

#tracks{
    background-image: url(../img/degradado.gif);
    background-size: 50%;
    display:block;
    border: 1px solid white;
    border-radius: 10px ;
    width:100%;
    height: 80%;
    overflow: auto;
}

#tracks >div{
    width: 47%; 
    margin: 1%;
}


#footer{

    text-align: initial;
    top:95%;
    width:100%;
    height: 4%;
    position:absolute;
}
#footer>div:first-child{
    border:1px solid black;
    border-radius: 5px 5px 5px 5px;
    padding:1%;
    color:white;
    width: auto;
    padding-top: -2%;
    left:7%;
    background-image: url(../img/gris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#footer>div:first-child>span{
    text-shadow: 2px 2px 10px #f2f2f2;
}

#contenedorseguirnos{
    width: 40%;
    left:28%;
    height: 35%;
}
#contenedorseguirnos>a{
    width: 29%;
}
#contenedorseguirnos>a>img{
    width: 57%;
    display: inline-block;
}
small{
    display: block;
    font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
    color: #CCC;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin: 10px 0;
}
#mail{
    top:-40%;
    left:35%;
}

#menu {
    width: 19%;
    position: fixed;
    top: 0;
    left:81.5%;
}
a{
    text-decoration: none;
    width:42%;
}

#menu button{
    margin:3%;
    text-align: left;
    /*    background-color: black;*/
    display:block;
    padding-top:5%;
    padding-bottom:5%;
    padding-left: 5%;
    color:darkgoldenrod;
    font-size:1.0em;
    border-radius: 5px;
    width: 100%;

    background: transparent; 
    color: #0099CC; 
    border: 2px solid #0099CC;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;

}

#menu button:hover,a:focus  {
    cursor: pointer;
    background:#cc9900;
    text-decoration:wavy;
    color: #f2f2f2;
    transition: all 400ms ease; 
    position: relative;
}
/*#myBtn {

    display: none;
    position:  absolute;
    top:78%;
    right: 4%; 
    z-index: 99; 

}*/

a[href^="mailto:"]:before { content: "\2709"; }
.phone:before             { content: "\2706"; }


#listado{

    display:none;
    position: fixed; 
    border: 1px solid darkgoldenrod;
    padding: 10px;
    box-shadow: 5px 10px #333333;
    border-radius: 10px; 
    left: 32%;
    top:15%;
    height: 70%;
    width: 30%;
    background-image: url(../img/locales.jpg);
    background-size: cover;

}
#listado2{
    display:none;
    position: fixed; 
    border: 1px solid darkgoldenrod;
    padding: 10px;
    box-shadow: 5px 10px #333333;
    border-radius: 10px; 
    left: 27%;
    top:15%;
    height: 70%;
    width: 40%;
    background-image: url(../img/musico.jpg);
    background-size: cover;
    overflow:auto;
}
#listado3{
    display:none;
    position: fixed; 
    border: 1px solid darkgoldenrod;
    padding: 10px;
    box-shadow: 5px 10px #333333;
    border-radius: 10px; 
    left: 35%;
    top:15%;
    height: 70%;
    width:25%;
    background-image: url(../img/conciertoimg.jpg);
    background-size: cover;
    overflow:auto;
}
.lista{
    text-align: center;

}
#listapuntosyvotos1{
    display:inline;
    width: 46%;
}
#listapuntosyvotos2{
    display:inline;
    width: 46%;
}
.closelistado{
    position:absolute;
    left:92%;
    width:5%;
    top:2%;
}

.audio{

    border: 5px solid black;

}
th{
    color:#b67308;
    border:1px solid black;
}
table{
    display:inline-table;
    text-align: center;
    border:1px solid black;

}
tr{

    border:1px solid black;
    /*    width: 100%;*/
}
td{

    border:1px solid black;
}

@media screen and (max-width:1200px) and (min-width:501px){
    #titulo{
        font-size: 63%;
        background-size: 400%;
        background-attachment: local;
        background-repeat: no-repeat;
        top: 0%;
        height: 7.5%;
        width: 30%;
        left:1%;}
    #titulo>h3{
        margin:5%;

    }
    #login{
        top: 0.2%;
        left: 42%;
        width: 15%;
    }
    #login>button,#login>a>button,#myBtn{
        padding:2%;
    }
    #foto1{display:none}
    #menu{
        top: 0%;
        width: 45%;
        left:65%;
        z-index: 2000;
        position: absolute;
    }
    #publicidad1{
        top:121%;
        left:0%;
        width: 27%;
        z-index: 20;
    }
    #publicidad2{display:none}
    #publicidad2_1{
        display:inline-block;
        top:-127%;
        z-index: 20;
        left:80%;
        width: 27%;
    }
    #publicidad7{display:none}
    #publicidad8{display:none}
    #publicidad9{display:none}

    #buscar{display:none;}

    #divlogo{
        top:5%;
        left: 35%;
        width:29%;
    }
    #proximoconciertospan{display:none;}
    #proximoconcierto{display:none;}

    #divmusicos{

        top: 47%;
        width: 99%;
        left:0.5%
    }
    .article{
        top: 26%;
        width: 47%;
        background-size: cover;
        z-index: 30;
    }
    #chat{
        width: 44%;
        height: 15%;
        top: 26%;
        left: 24%;
    }

    #myBtn {
        padding: 1%;
        top: 27%;
        left: 88%;
    }
    #coment{
        display: none;
    }
    #chat1{
        width: 44%;
        left: 52%;
        top: 41%;
        height: 3%;
    }
    #textochat{
        margin-top:5%;
        width:98%;
        height: 25%;
    }
    #tituloentrevista1{
        padding-bottom: 8%;
    }
    #contenedor1{
        width: 85%;
        left:8%;
        height: 11%;
        top: 12%;
    }
    #entrevista1 p{
        left: 5%;
        width: 87%;
    }
    #imagenentrevista1_1 {
        width: 43%;
        left: 28%;
    }
    #imagenentrevista1_2 {
        width: 25%;
        left: 39%;
    }
    #imagenentrevista1_3 {
        width: 37%;
        left: 30%;
    }
    #imagenentrevista1_4 {
        width: 30%;
        left: 3%;
    }
    #titulomasvotados {
        top: 66.5%;
        left: 31.5%;
        width: 40%;
    }
    #tituloproxconciertos{
        top: 74.5%;
        left: 27%; 
    }
    #contenedor2{
        width: 91%;
        height: 6%;
        top: 68%;

    }
    #contenedor2_1{
        left: 4%;
        width: 91%;
        height: 9%;
        top: 76%;

    }
    table.sample{
        font-size: 64%;
    }
    #entrevista2 img{
        top: 15%;
        margin: 1%;
        height: 60%;
        display:inline-block;
        border-radius: 10px ;
        width: 41%; 
    }
    #entrevista2 {
        background-size: 150%;
        background-attachment: local;
        background-repeat: no-repeat;
    }
    #contenedor3{
        top: 85%;
        height: 10%;
        overflow: auto;
        width: 90%;
    }
    #titulotracks{
        height: 10%;
    }

    #tracks>div>ul>li>div>p{
        left:-38.5%;
        width: 138.8%;
    }
    #primerafila{
        width: 30%;
    }
    #segundafila{
        width: 30%;
    }
    audio{
        width: 68%;
        margin:15%;
    }
    #tracks{
        height: 70%;

    }
    #main{
        left:0%;
        width: 110%;
        height: 300%;
        z-index: 10;
    }
    #video{
        height: 7%;
        top: 58%;
        left: 4%;
        width: 56%;
    }
    #video2{display:none;}

    #footer{
        width: 100%;
        height: 11%;
    }
    #footer>div:first-child{
        background-attachment:initial;
        width: 44%;
        left: 2%;

    }

    #mail{
        width: 100%;
    }
    #mail>a{
        left:-21%;
    }

    #logos3{
        margin:1%;
        top:1%;
        left:28%;
        width: 50%;

    }
    #logos3>a{
        display: inline;
        width: 17%;
    }
    #logos3>a>img{
        display: inline;
        width: 17%;
    }
    #contenedorseguirnos {
        width: 40%;
        left: 2%;
        height: 35%;
    }
}
























@media screen and (max-width:500px) and (min-width:0px){
    #titulo{
        font-size: 63%;
        background-size: 400%;
        background-attachment: local;
        background-repeat: no-repeat;
        top: 0%;
        height: 7.5%;
        width: 30%;
        left:1%;}
    #titulo>h3{
        margin:5%;
    }
    #login{
        top: 0.2%;
        left: 37%;
    }
    #login>button,#login>a>button,#myBtn{
        padding:0%;
    }

    #menu{
        top: 0%;
        width: 45%;
        left:65%;
        z-index: 2000;
        position: absolute;
    }
    #publicidad0{display:none}
    #publicidad1{display:none}
    #publicidad1_1{
        border:2px solid darkgoldenrod;
        display:inline-block;
        top:-271%;
        left:84%;
        width: 27%;
        z-index: 3000;
    }
    #publicidad2{display:none}
    #publicidad2_1{
        border:2px solid darkgoldenrod;
        display:inline-block;
        top:-271%;
        left:-28.5%;
        width: 27%;
        z-index: 3000;
    }
    #publicidad7{display:none}
    #publicidad8{display:none}
    #publicidad9{display:none}

    #buscar{display:none;}

    #divlogo{
        top:5%;
        left: 37%;
        width: 27%;
    }
    #proximoconciertospan{display:none;}
    #proximoconcierto{display:none;}
    #musicos{
        height:6%;
    }
    #divmusicos{
        top: 10%;
        min-height: 25%;
        width: 99%;
        left:0.5%
    }

    #chat{
        width: 100%;
        height: 16%;
        left:1%;
        top: 48%;

    }

    #myBtn {
        padding: 1%;
        top: 27%;
        left: 88%;
    }
    #coment{
        display: none;
    }
    #chat1{
        width: 78%;
        left: 11%;
        top: 64%;
        height: 3%;

    }
    #textochat{
        margin-top:5%;
        width:98%;
        height: 25%;

    }

    #tituloentrevista1{
        padding-bottom: 8%;

    }
    #contenedor1{
        width: 90%;
        left: 5%;
        height: 20%;
        top:17%;
    }
    #entrevista1 p{
        top:12%;
        left: 5%;
        width: 87%;
    }
    #imagenentrevista1_1 {
        top:9%;
        width: 94%;
        left: 2%;
    }
    #p1{
        top:15% !important;
    }
    #p2{
        top:2% !important;
    }
    #imagenentrevista1_2 {
        width: 80%;
        left: 10%;
    }
    #imagenentrevista1_3 {
        top:12%;
        width: 80%;
        left: 9%;
    }
    #imagenentrevista1_4 {
        top:13%;
        width: 80%;
        left: 9%;
    }
    #titulomasvotados {
        top: 40%;
        left: 28.5%;
        width: 40%;
    }
    #tituloproxconciertos{
        top: 78%;
        left: 27%; 
    }
    #contenedor2{
        width: 100%;
        height: 6%;
        top: 42%;
        left: 0%;

    }
    #contenedor2_1{
        left: 5%;
        width: 90%;
        height: 9%;
        top: 80%;

    }
    table.sample{
        font-size: 64%;
    }
    #entrevista2 img{
        top: 15%;
        margin: 1%;
        height: 60%;
        display:inline-block;
        border-radius: 10px ;
        width: 41%; 
    }
    #entrevista2 {
        background-size: 150%;
        background-attachment: local;
        background-repeat: no-repeat;
    }
    #contenedor3{
        top: 89%;
        height: 10%;
        overflow: auto;
        width: 94%;
        left: 2%;
    }
    #titulotracks {
        height: 11%;
        left: 3%;
    }

    #tracks>div>ul>li>div>p{
        left:-38.5%;
        width: 138.8%;
    }
    #primerafila{
        width: 30%;
    }
    #segundafila{
        width: 30%;
    }
    audio{
        width: 68%;
        margin:15%;
    }
    #tracks{
        height: 68%;
        width: 94%;
        left: 4%;

    }
    #main{
        left:0%;
        width: 110%;
        height: 300%;
    }
    #video{
        height: 9.2%;
        top: 68.5%;
        left: 5%;
        width: 90%;
    }

    #video2{
        display:none;
    }

    #footer{
        width: 100%;
        height: 9%;
        top:111%;
    }
    #footer>div:first-child{
        top: 35%;
        height: 56%;
        background-attachment:initial;
        width: 44%;
        left: 2%;

    }

    #mail{
        width: 100%;
    }
    #mail>a{
        left:-21%;
    }

    #logos3{
        margin:1%;
        top:1%;
        left:28%;
        width: 50%;

    }
    #logos3>a{
        display: inline;
        width: 17%;
    }
    #logos3>a>img{
        display: inline;
        width: 17%;
    }
    #contenedorseguirnos {
        top: 24%;
        width: 40%;
        left: 9%;
        height: 35%;
    }


}
.accordion {
    background-image:url(../img/musico.jpg);
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px ;
}
.panel {
    border-radius: 10px ;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
width: 78%;
}
.panel>p{
    text-shadow: 2px 2px 2px black;

    font-size: smaller;
    color:white;
}