html,body{
    margin:0%;
    padding:0%;
    height:100%;
    width:100%;
    background:url(../img/Black-And-White-Wallpapers-Tumblr-9.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.intro{
    height:100%;
    width:100%;
    margin:auto;
    background: url(../img/thumb-1920-55193.jpg);
    display:table;
    top:0;
    background-repeat: no-repeat;
    background-size:cover;
}
.intro .inner{
    display:table-cell;
    vertical-align: middle;
    width:100%;
    max-width: none;
}
.content{
    max-width: 500px;
    margin: 0px auto;
    text-align:center;
}
.content h1{
    font-family:'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size:500%;
}
.Boton, .Boton1, .Boton2, .Boton3{
    border-radius:9px;
    font-family: 'Oswald', sans-serif;
    color: #006666;
    font-size: 135%;
    padding: 10px 20px;
    border:solid #006666 3px;
    background-color: #F9F3F4;
    text-transform: uppercase;
    text-decoration: #006666;
}
.Boton:hover, .Boton1:hover, .Boton2:hover, .Boton3:hover{
    color:#fff;
    border: solid #fff 3px;
    background-color: #006666
}
[type='submit']:hover{
    cursor: pointer;
}

#Contenido1{
    display: inline-block;
    background-color: #006666;
    margin: 3%;
    padding: 0%;
    height: 89%;
    width: 94%;
    position: relative;
}

footer{
    background-color: black;
    display: block;
    margin: auto;
    height: 25%;
    width: 100%;
}
.Menu{
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color: #00cccc;
    text-align: center;
}
#ContenidoPerfil{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#Perfil{
    display: inline-block;
    height: 90%;
    width: 40%;
    background-color: green;
}
.Formulario{
    display: inline-block;
    position: relative;
    width: 50%;
    height: 50%;
}
.Formulario2{
    display: none;
    position: relative;
    vertical-align: middle;
    width: 65%;
    height: 62%;
}
.Formulario3{
    display: none;
    position: relative;
    vertical-align: middle;
    width: 65%;
    height: 62%;
}

form {
    display: inline-block;
    width: 91%;
    height: 87%;
    background-color: rgba(255,255,255,.2);
    text-align: center;
    padding: 1.25em;
    border-radius: 5px;
    background-color: #b67308;
}

input {
    margin: 0 0 .4em 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.01);
    border: 0;
    border-bottom: 5px solid rgba(0,0,0,.12);
    line-height: 40px;
}

[type='text'] {
    padding-left: 1em;
}

[type='submit'] {
    color: white;
    background-color: #2980b9;
    font-weight: 600;
}

[type='text']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}

[type='password'] {
    padding-left: 1em;
}

[type='password']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
[type='date'] {
    padding-left: 1em;
}

[type='date']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}

[type='number'] {
    padding-left: 1em;
}

[type='number']:focus {
    border: 0;
    border-bottom: 5px solid #2980b9;
    color: #2c3e50;
    outline: none;
}
th{
    color:#b67308;
       border:1px solid black;
}
table{
    display:inline-block;
    text-align: center;
       border:1px solid black;

}
tr{
      
    border:1px solid black;
}
td{
     
    border:1px solid black;
}