html.fan{
    background:url(../login_pics/pexels.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    color:#330033;
}
html.local{
    background:url(../login_pics/pexels2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    color:#330033;
}
html.musician{
    background:url(../login_pics/pexels3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    color:#330033;
}
html.login{
    background:url(../login_pics/login_cascos_stucom.jpg);
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    color:#330033;





}
#main {
    background-color: 	#cccccc;
    width: 40%;
    height: 100%;
    left:30%;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.7;



}
.login#main {
    background-color: 	#333333;
    width: 40%;
    height: 100%;
    left:31%;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.7;



}
/*img {
    width: 180px; height: 180px;
}*/
div{
    position: relative;

}

#tituloH1{ font-family: serif, cursive;
           color: #000;
           text-align: center;
           margin-top: 1%; }
#tituloH2 { color: #333333; font-family: serif; font-size: 36px; font-weight: 300; 
            font-style: initial; line-height: 80px; margin: 0 0 12px; text-align: center; vertical-align: top; }



form {
    padding-left: 18%;
    text-align: center;
    width:65%;
    display: inline-block;
    vertical-align: top;
    border-color: #000;

}

input {
    border-color: #000;
    margin-bottom:2px;
    padding:1%;
    width: 100%;
    border:1px solid #666666;


}
.login input{
    margin-top: 5%;

    min-width: 125px;
    border: 1px solid #330033;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s linear;
}
.login input:required:valid {
    border-left-color: palegreen;
}
input:focus {
    border: 3px solid #00cc99;

}

button {
    margin-top: 2%;
    padding:1%;
    width: auto;
    background-color: #cccccc;
}

label {
    cursor:pointer;

}

#register-form {
    display:block;
}
#form-switch:checked~#register-form {
    display:block;
}
#form-switch:checked~#login-form {
    display:none;
}
#myBtn {

    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    border-color: #999999; 
    background-color: #dad0d0; 
    color: #330033; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 


}

#myBtn:hover {
    background-color: #009966; 
    transition: all 400ms ease; 
    color: #f2f2f2;
}